{% extends "layouts/main.html" %}
{% load static %}
{% block content %}

<style>
   body {
     background-image: url("{% static 'images/school.png' %}");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     min-height: 100vh;
     margin: 0;
   }
   .container {
       margin-top: 90px;
   }
   h2 {
      color: #fff;
   }
</style>

<div class="container" style="margin-top: 20px;">
   <div>
      <h2 style="text-align: center;"><a class="bi bi-arrow-left-circle" href="{% url 'cursos_admin' %}"></a> Nuevo Curso</h2>
   </div>
   <br>
   <div class="card">
      <form action="" method="post">
      <div class="card-body">
         {% csrf_token %}
         {{ form.as_p }}
      </div>
      <div class="card-footer">
         <div class="d-grid gap-2">
            <!-- Fixed: Changed to submit button -->
            <button type="submit" class="btn btn-dark">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'cursos_admin' %}">Cancelar</a>
         </div>    
      </div>
      </form>
   </div>
</div>

{% include "layouts/footer.html" %}

{% endblock %}