{% extends "layouts/main.html" %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 60px;">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Eliminar Curso</h1>
            <p class="card-text">¿Estás seguro de que deseas eliminar el curso "{{ object.nombre }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'cursos' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}