{% load static %}

<nav class="navbar fixed-bottom navbar-expand-lg" style="background-color: #333;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/Identidad.png' %}" alt="Logo UJED" width="180" height="100">
        </a>
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/ssga_2025.png' %}" alt="Logo UJED" width="100" height="90">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Aquí puedes agregar enlaces de navegación adicionales -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: #fff";> 🡩 Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>#La UJED que todos queremos.</a>
                </li>
            </ul>
        </div>
    </div>
</nav>