{% extends "layouts/main.html" %}
{% load static %}
{% block content %}

<style>
    body {
      background-image: url("{% static 'images/school.png' %}");
      background-size: cover;  /* Ajusta la imagen al tamaño de la pantalla */
              background-position: center; /* Centra la imagen */
              background-repeat: no-repeat; /* No repetir la imagen */
              background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
              min-height: 100vh; /* Asegura que cubra toda la pantalla */
              margin: 0; /* Elimina márgenes */
          }
    h4 {
        color: #fff;
    }      
</style>

<div class="container" style="margin-top: 50px;">
    <h4><i class="bi bi-calendar-week"></i> Eventos: {{ direccion_actual }}</h4>
</div>
<div class="card container">
    <div class="container" id="calendar" style="margin-top: 50px;">
</div>

</div>
<br><br><br><br><br><br>
{% include "layouts/footer.html" %}

<!-- jQuery (si es necesario) -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- FullCalendar JS -->
<script src="{% static 'js/index.global.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth', // Vista inicial
            locale: 'es',  // Configuración del idioma
            events: '/events/', // URL para cargar eventos
            eventClick: function(info) {
                Swal.fire({
                    title: info.event.title + ' (' + info.event.extendedProps.dias_restantes + ' dias restantes) ' + Math.min(info.event.extendedProps.progreso, 100).toFixed(0) + ' % de progreso.',
                    text:   '\nDescripcion: ' + info.event.extendedProps.descripcion + '. ' +
                            '\nTérmino antes de: ' + (info.event.end ? info.event.end.toLocaleDateString() : 'No especificado'),      
                });
            },
        });
        calendar.render();
    });
</script>

{% endblock %}   