{% extends "layouts/main.html" %}
{% load static %}
{% block content %}

<style>
    body {
      background-image: url("{% static 'images/school.png' %}");
      background-size: cover;  /* Ajusta la imagen al tamaño de la pantalla */
              background-position: center; /* Centra la imagen */
              background-repeat: no-repeat; /* No repetir la imagen */
              background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
              min-height: 100vh; /* Asegura que cubra toda la pantalla */
              margin: 0; /* Elimina márgenes */
          }
</style>

<div class="content-grid" style="margin-top: 50px;">
    <div class="card mb-3 text-center" style="max-width: 900px;">
        <div class="card-body">
            <h2 class="card-title">+ Nuevo Evento</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <div class="d-grid gap-2">
                    <button 
                        class="btn" 
                        type="submit" 
                        style="background-color: #212529; color: #fff;">
                        <i class="bi bi-save"> Guardar</i>
                    </button>
                    <a class="btn btn-secondary" href="{% url 'eventos' %}">                    
                        <i class="bi bi-x-square"> Cancelar</i>
                    </a>
                </div>          
            </form>
        </div>    
    </div>
</div>

{% include "layouts/footer.html" %}


    <script>
        document.getElementById("eventoForm").addEventListener("submit", function(event) {
            event.preventDefault();
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Se guardará el nuevo evento.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, guardar"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Guardando...",
                        text: "Por favor, espera.",
                        icon: "info",
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        didOpen: () => {
                            Swal.showLoading();
                            this.submit(); // Envía el formulario
                        }
                    });
                }
            });
        });
    </script>
        
        
        
    

{% endblock %}    
