{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top:40px;">
    <h2>Administrador</h2>
    <br>
    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Dirección de Planeación Institucional</h5>
                  <div class="d-grid gap-2">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Direccion de Sercicios Educativos</h5>
                  <div class="d-grid gap-2">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Dirección de Internacionalización</h5>
                  <div class="d-grid gap-2 ">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Dirección de Dessarrollo y Fortalecimiento Académico</h5>
                  <p class="card-text"></p>
                  <div class="d-grid gap-2">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Personal encargado en Subsecretaria</h5>
                  <div class="d-grid gap-2">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em; height:10rem;">
                <div class="card-body">
                  <h5 class="card-title">Sistema de Universidad Virtual</h5>
                  <div class="d-grid gap-2">
                      <a href="#" class="btn" style="background: #333; color:white;">→</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<nav class="navbar" style="background: #b3142c; color: white; padding: 15px 0; margin-top:80px">
    <div class="container-fluid d-flex flex-column align-items-center text-center">
      <!-- Imagen centrada -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo-ujed.2025.png' %}" alt="Logo" width="160" height="160" class="d-inline-block align-text-top">
      </a>
      <!-- Texto centrado debajo de la imagen -->
      <h1 class="mb-0">SUBSECRETARÍA GENERAL ACADÉMICA</h1>
      <div class="small mt-2">
        <p>Cuarto piso, Edificio de la Librería UJED. Victoria Sur 200, esquina con 20 de Noviembre, Zona Centro.</p>
        <p>C.P. 34000. Durango, Dgo. México. Teléfono: +52(618) 827-12-48. E-mail: subsecretaria.academica@ujed.mx</p>
      </div>
    </div>
  </nav>


{% endblock %}