{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}


<div class="container mt-5" style="text-align: center;">
    <h1 class="text-center">Inicia sesión</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit">Iniciar sesión</button>
        {{ form.non_field_errors }}
        <div class="mb-3">
            <a href="{% url 'registro' %}">Registrarme!</a>
        </div>
    </form>
</div>
<nav class="navbar fixed-bottom" style="background: #b3142c; color: white; padding: 15px 0;">
    <div class="container-fluid d-flex flex-column align-items-center text-center">
      <!-- Imagen centrada -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo-ujed.2025.png' %}" alt="Logo" width="160" height="160" class="d-inline-block align-text-top">
      </a>
      <!-- Texto centrado debajo de la imagen -->
      <h1 class="mb-0">SUBSECRETARÍA GENERAL ACADÉMICA</h1>
      <div class="small mt-2">
        <p>Cuarto piso, Edificio de la Librería UJED. Victoria Sur 200, esquina con 20 de Noviembre, Zona Centro.</p>
        <p>C.P. 34000. Durango, Dgo. México. Teléfono: +52(618) 827-12-48. E-mail: subsecretaria.academica@ujed.mx</p>
      </div>
    </div>
  </nav>

{% endblock %}