{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}


<div class="content-grid" style="margin-top: 60px;">
  <div class="card mb-3 text-center" style="max-width: 540px; background-color: rgba(255, 255, 255, 0.5);">
      <div class="row g-0">
          <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
              <img src="{% static 'images/ssga_2025.png' %}" class="img-fluid rounded-start" style="max-width: 130px; padding: 10px;" alt="...">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h3 class="card-title">SSGA</h3>
                  <p class="card-text">Acceder a la plataforma</p>
                  <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          {{ form.username.label_tag }}
                          {{ form.username }}
                      </div> 
                      <div class="form-group">
                          {{ form.password.label_tag }}
                          {{ form.password }}
                      </div>
                      <br>
                      <button type="submit" class="btn" style="background-color: #333333; color: #ffffff;">Iniciar sesión</button>
                  </form>
                  {{ error }}
                  <br> 
              </div>
          </div>
      </div>
  </div>
</div>


<nav class="navbar fixed-bottom" style="background: #333; color: white; padding: 15px 0;">
  <div class="container d-flex flex-column align-items-center text-center">
    <div class="d-flex align-items-center flex-wrap mb-2">
      <a class="navbar-brand me-3" href="#">
        <img src="{% static 'images/logo-ujed.2025.png' %}" alt="Logo" width="120" height="120" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/Identidad.png' %}" alt="Logo" width="170" height="90" class="d-inline-block align-text-top">
      </a>
    </div>
    <h3 class="mb-2">SUBSECRETARÍA GENERAL ACADÉMICA</h3>
    <div class="small">
      <p class="mb-1">Cuarto piso, Edificio de la Librería UJED. Victoria Sur 200, esquina con 20 de Noviembre, Zona Centro.</p>
      <p class="mb-0">C.P. 34000. Durango, Dgo. México. Teléfono: +52(618) 827-12-48. E-mail: subsecretaria.academica@ujed.mx</p>
    </div>

  </div>
</nav>


{% endblock %}
